# Server Settings
PORT=5000
NODE_ENV=development
JWT_SECRET=asrithas_magic_key_2026_jwt_secret

# MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/asrithas_world?retryWrites=true&w=majority

# Cloudinary Credentials (Optional - Falls back to local uploads if empty)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Nodemailer SMTP Configuration (Optional - Falls back to server console logs if empty)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
